footer.site-footer.container#colophon
      div.footer-content
        @Copyright 2016 Rufus
script(type='text/javascript', src='/javascripts/jquery.min.js')
script(type='text/javascript', src='/bootstrap/js/bootstrap.min.js')
script(type='text/javascript', src='/javascripts/jquery.mousewheel-min.js')
script(type='text/javascript', src='/javascripts/jquery.terminal-0.11.9.min.js')
script(type='text/javascript', src='/javascripts/jquery.md5.js')
script(type='text/javascript', src='/javascripts/custom.js')
