doctype html
html(data-session="#{session_id}")
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    link(rel='stylesheet', href='/bootstrap/sandstone/bootstrap.min.css')
    //- link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/style2.css')
    link(rel='stylesheet', href='/stylesheets/jquery.terminal-0.11.9.min.css')