extends layouts/master

block page-header-after
  #slider
    img.img-responsive(src='/images/macbook.png', alt='LinuxSIM')

block content
  h3 Welcome to #{title}:
  p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. #{paypal_result}     
    